/**
 * Stylsheet for Zoomable Map Demo
 */

html, body, .page-body {
	margin  : 0;
	padding : 0;
	width   : 100%;
	height  : 100%;
	background-color : #6e91a1;
}

.info-box {
	display  : block;
	position : fixed;
	z-index  : 1;
	padding  : 8px 16px;
	overflow : hidden;
	background-color : #222;
	border           : 2px solid #bb4100;
	border-radius    : 8px;
	color            : #d4d6d5;
	font-family      : helvetica, arial, sans-serif;
}

.info-box > h1 {
	color       : #bb4100;
	font-weight : bold;
	font-size   : 18px;
}

.info-box > p {
	margin-top : 8px;
}

.disp-out {
	font-weight : bold;
	margin-left : 4px;
}

.page-header {
	width  : 300px;
	top    : 20px;
	left   : 20px;
}

.git-link {
	bottom : 20px;
	right  : 20px;
	color  : #bb4100;
}

.git-link:hover {
	border-color : #fff;
	color        : #fff;
}
